---
layout: default
---

<div class="page">
  <h1 class="page-title">Gallery</h1>
  <h2>Selected scientific illustrations</h2>
  <p class="lead">All of these illustrations were designed by Ke Yi.</p>
</div>

<div class="image">
    <img src="/assets/gallery/20201202-opus.jpg" alt="20201202-opus">
    <p class="lead">Published. Guan et al. 2021 Small</p>

    <img src="/assets/gallery/20210919-opus.jpg" alt="20210919-opus">
    <p class="lead">Published. Tao et al. 2022 Journal of Colloid & Interface Science</p>

    <img src="/assets/gallery/20220321-opus.jpg" alt="20220321-opus">
    <p class="lead">Published. Kong et al. 2022 Journal of Materials Chemistry B</p>

    <img src="/assets/gallery/20220607-opus.jpg" alt="20220607-opus">
    <p class="lead">Published. Zhuo et al. 2022 Signal Transduction and Targeted Therapy</p>
    
    <img src="/assets/gallery/20221214-opus.jpg" alt="20221214-opus">
    <p class="lead">Published. Zheng et al. 2023 Science Advances</p>

    <img src="/assets/gallery/20230301-opus.jpg" alt="20230301-opus">
    <p class="lead">Published. Yi et al. 2023 Biomaterials</p>

    <img src="/assets/gallery/20230605-opus2.jpg" alt="20230605-opus2">
    <p class="lead">Published. Yi et al. 2023 Advanced Materials</p>

    <img src="/assets/gallery/20231016-opus.jpg" alt="20231016-opus">
    <p class="lead">Published. Kong et al. 2023 Nano Today</p>


</div>

